@charset "UTF-8";

html {
	font-size: 62.5%;
}
body {
	background: #151515 url(../images/bg.png) no-repeat fixed left bottom;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.4rem;
	font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.section-title {
	position: relative;
	display: inline-block;
	margin: 30px 0 15px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 4rem;
	font-weight: bold;
}
.section-title::before, .section-title::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #999999;
}
.section-title::before {
	bottom: 5px;
}
.container {
	padding: 80px 0px;
}
.button {
	margin: 10px;
	display: inline-block;
	width: 200px;
	padding: 20px;
	border-radius: 4px;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2rem;
}
.button::hover {
	opacity: 0.8;
}

/*---------------------------------------------------------------------
 HEADER
 ---------------------------------------------------------------------*/
.top-header {
	padding: 170px 30px 80px;
}
.head-title {
	margin: 50px 0 40px;
	font-size: 7.6rem;
	font-weight: bold;
}
.head-sub-title {
	margin: 0 0 30px;
	letter-spacing: 1px;
	font-size: 2.2rem;
	font-weight: normal;
}
.head-sub-title:before, .head-sub-title:after {
	content: '';
	display: inline-block;
	width: 140px;
	height: 2px;
	margin: 0 30px;
	background-color: #FFFFFF;
	vertical-align: middle;
}
.head-under-text {
	margin-bottom: 50px;
	color: #888888;
	font-size: 1.6rem;
}
.beige-btn {
	background-color: #AFA58D;
}
.orange-btn {
	background-color: #D29E04;
}

@media screen and (max-width:768px){
	.top-header {
		padding-top: 60px;
	}
	.head-title {
		margin-top: 35px;
		font-size: 5rem;
	}
	.head-sub-title {
		font-size: 1.7rem;
	}
	.head-sub-title:before, .head-sub-title:after {
		display: block;
		width: 80%;
		margin: 10px auto;
	}
}
/*---------------------------------------------------------------------
 ABOUT
----------------------------------------------------------------------*/
.site-about {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #FFFFFF;
	color: #333333;
}
.about-body p{
	margin: 30px 0;
	line-height: 2.5;
}

/*---------------------------------------------------------------------
 WORKS
----------------------------------------------------------------------*/
.works {
	background-color: #383634;
	padding: 80px 0;
}
.work-body {
	width: 100%;
	margin-top: 60px;
	display: flex;
	flex-flow: row;
}
.work-box {
	background-size: contain;
    width: 100%;
}
.work-box img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.work-btn {
	width: 60%;
	margin-top: 20px;
	padding: 3px;
	border: 1px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0.15);
}
.work-content {
	position: absolute;
	top: 0;
	overflow: scroll;
	width: 100%;
	padding: 20px;
	vertical-align: middle;
	font-size: 1.2rem;
	line-height: 2;
	background-color: rgba(56,54,52,0.8);
    transform: scale(1, -1);
    height: 100%;
}
.work-content p{
	display: inline;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 2;
}
.work-img-bg {
    transform: scale(1, -1);
    position: relative;
	vertical-align: bottom;
}

@media screen and (max-width:768px){
	.work-body{
		flex-flow: column;
	}
	.work-body{
		flex-flow: column;
	}
	.work-content {
		position: relative;
    	transform: scale(1, 1);
	}
	.work-bg-tree {
		background: url("../images/tree.jpg");
	}
	.work-bg-building {
		background: url("../images/building.jpg");
	}
	.work-bg-sky {
		background: url("../images/sky.jpg");
	}
	.work-bg-lake {
		background: url("../images/lake.jpg");
	}
	.work-bg-tree, .work-bg-building, .work-bg-sky, .work-bg-lake{
		background-size: cover;
	}
	.work-box img{
		display: none;
	}
	.work-img-bg {
    	transform: scale(1, 1);
	}
}

/*---------------------------------------------------------------------
 MY SKILLS
----------------------------------------------------------------------*/
.my-skills {
	background-color: #FFFFFF;
	color: #333333;
}
.skills-body {
	display: flex;
	flex-flow: row;
	width: 80%;
	margin: 50px auto 0;
	justify-content: space-around;
}
.skill-icon {
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
	border: 4px solid;
	border-radius: 50%;
	color: #F1B400;
	line-height: 142px;
	font-size: 8rem;
	box-sizing: content-box;
}
.skill-title {
	margin: 0 20px 20px;
	font-size: 2rem;
}
.skill-box p {
	flex: 1;
	margin: 0 20px;
	line-height: 2;
}

@media screen and (max-width:768px){
	.skills-body {
		flex-flow: column;
	}
	.skill-box {
		margin: 40px auto;
	}
}

/*---------------------------------------------------------------------
 CONTACT
----------------------------------------------------------------------*/
.contact-form {
	width: 50%;
	margin: 50px auto 0;
}
.name-field, .message-field {
	border: 1px solid rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.05);
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.message-field {
	height: 150px;
}
.form-send-button {
	display: block;
	width: 200px;
	margin: 40px auto 0;
	padding: 15px;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	cursor: pointer;
}
.form-send-button:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width:768px){
	.contact-form {
		width: 80%;
	}
}